:root {
    --primary-color: #92D050;
    --secondary-color: #4472C4;

}

/* Sets height, width and font for the window*/
body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    font-family: 'Source Code Pro', sans-serif;
}

/* Sets width and height for the window*/
.wrapper {
    height: 100vh;
    width: 100%;
}


/* Sets the headers size*/
.header {
    padding: 20px;
    font-size: 25px;
    border-bottom: 1px solid black;
}

/* Sets the nav bar size*/
.nav-bar {
    width: 200px;
    height: 100%;
    background-color: var(--primary-color);
    float: left;
}

.nav-bar-buttons {
    font-size: 20px;

}


.nav-bar-buttons a {
    /* Makes it so the entire button directs you to the correct page*/
    display: block;
    text-decoration: none;
    color: #000000;
    padding: 15px 0 15px 20px;
}


.nav-bar-buttons a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}


.content {
    float: left;
    width: calc(100% - 12px - 200px);

}

.content-header {
    text-align: center;
    font-size: 25px;
}

.main-content {
    /* Centers */
    width: 90%;
    margin: auto;
}

.content-text {
    /* Centers */
    text-align: justify;
    text-justify: inter-word;
}

.content-text-center {
    /* Centers */
    text-align: center;
    text-justify: inter-word;
}
.active {
    background-color: rgba(0, 0, 0, 0.05);
}
