.nav-bar {
    /* Making the position fixed fixes the bug of the nav bar going out of the window*/
    position: fixed;
    left: 0;
    top: 0
}


.content {
    /* Aligns the content next to the nav bar by putting a margin next to it*/
    margin-left: 200px;
    overflow: auto;
}

:root {
    --primary-color: #92D050;
    --secondary-color: #4472C4;

}

body {
    /* Sets up initial fonts and size for the window*/
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    font-family: 'Source Code Pro', sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100%;
}


.header {
    /* Gives it padding to make the header look bigger*/
    padding: 20px;
    font-size: 25px;
    border-bottom: 1px solid black;
}

.nav-bar {
    width: 200px;
    height: 100%;
    background-color: var(--primary-color);
    float: left;
}

.nav-bar-buttons {
    font-size: 20px;

}

.nav-bar-buttons a {
    display: block;
    text-decoration: none;
    color: #000000;
    padding: 15px 0 15px 20px;
}


.nav-bar-buttons a:hover {
    /* Makes the button darker when hovered on*/
    background-color: rgba(0, 0, 0, 0.05);
}


.content {

    float: right;
    width: calc(100% - 200px);

}

.content-header {
    /* Aligns text in the center*/
    text-align: center;
    font-size: 25px;
}

.main-content {
    width: 90%;
    margin: auto;
}

.content-text {
    /* Aligns text in the center*/
    text-align: justify;
    text-justify: inter-word;
}

.content-text-center {
    /* Aligns text in the center*/
    text-align: center;
    text-justify: inter-word;
}

.active {
    background-color: rgba(0, 0, 0, 0.05);
}

.content-text-container {
    width: 90%;
    margin: auto;
}

