:root {
    --primary-color: #92D050;
    --secondary-color: #4472C4;

}

/* Sets the main fonts and makes it so there is no border on the body*/
body {
    margin: 0;
    font-family: 'Source Code Pro', sans-serif;
}

/* Makes it take up all of ths space on the screen*/
.wrapper {
    width: 100%;
    height: 100vh;
}

/* Sets the header's height, and background colour*/
.header {
    height: 120px;
    background-color: var(--primary-color);
    text-align: center;
    font-size: 35px;
    line-height: 120px;
}

.header p {
    margin: 0;
}

/* Makes the buttons display in a row*/
.nav-bar {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    font-size: 18px;

}

.nav-bar-buttons {
    /* Makes them grow, taking up the full amount of space */
    flex-grow: 1;
    text-align: center;


    /* Centers the text inside*/
    display: flex;
    align-items: center;
    justify-content: center;


}

.nav-bar-buttons a {
    /* Makes the whole div clickable*/
    display: block;
    padding: 8px 0;
    text-decoration: none;
    color: black;

}


.nav-bar-buttons a:hover {
    background-color: rgba(0, 0, 0, 0.15);
}


.spacer {
    width: 100%;
}

.content-wrapper {
    height: calc(100% - 166.7px - 2px);
}

.content {
    width: calc(100% - 24px);
    margin: 20px auto 0 auto;
    float: left;

}

.content-header {
    text-align: center;
    font-size: 18px;
}

.content-description {
    width: 50%;
    margin: auto;
    font-size: 16px;
}